<%= form_for(@advertisement, url: {action: 'create'})  do |form| %>
  <% if @advertisement.errors.any? %>
  <p><%= @advertisement.errors.full_messages.to_sentence %></p>
   <% end %>
   <%= form.label :avatar %>
   <%= form.file_field :avatar %>
   <br>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :price %>
  <%= form.text_field :price %>
  <br>
  <%= form.label :phone %>
  <%= form.text_field :phone %>
  <br>
  <%= form.label :description %>
  <%= form.text_area :description %>
  
  <br>  <%= form.label :ubication %>
  <%= form.text_field :ubication %>
  <br>
  <%= form.hidden_field :category_id %>
  <%= form.submit %>
<% end %>
