<h2><%= @advertisement.name %></h2>

<%= image_tag @advertisement.avatar.url(:medium) %>
<p>Description: <%= @advertisement.description%></p>
<p>price: <%=@advertisement.price %></p>
<p>phone: <%=@advertisement.phone %></p>
<p>ubication: <%=@advertisement.ubication %></p>
<% if user_signed_in? && @advertisement.belongs_to_user?(current_user) %>
<%= link_to('Delete', advertisement_path(@advertisement), {method: :delete}) %>
<%= link_to('edit', edit_advertisement_path(@advertisement)) %>
<% end %>
<%= link_to('Back', category_path(@advertisement.category.id)) %>