<h2><%=@category.name%> products</h2>

<ul>
  <% @category.advertisements.each do |advertisement| %>
    <li><%= link_to(advertisement.name, advertisement) %><%= image_tag advertisement.avatar.url(:thumb) %></li>
  <% end %>
</ul>
<% if signed_in? %>
<%= link_to('Add new product', new_advertisement_path({category_id: @category.id})) %>
<% end %>

<%= link_to('Back', categories_path) %>

