<h2><%=@category.name%></h2>

<ul>
  <% @category.advertisements.each do |advertisement| %>
    <li><%= link_to(advertisement.name, advertisement) %></li>
  <% end %>
</ul>

<%= link_to('Edit category', edit_category_path(@category)) %>
<%= link_to('delete category', category_path(@category.id), {method: :delete}) %>
<%= link_to('Back', categories_path) %>
<%= link_to('Add new product', new_advertisement_path({category_id: @category.id})) %>

∫